{% extends "dataProcessor/template.html" %}

{% load static %}

{% block content %}
<body>
	<div class="container form-container">
		<div class="row">
			{% for module in modules %}
			<div class="col-lg-3 col-sm-6 mt-1">
				<div class="card carded-modules">
					<a href="{% url 'dataProcessor:'|add:module.url %}"></a>
					<span class="centerDiv"><a href="{% url 'dataProcessor:'|add:module.url %}" class="link_name">{{ module.description }}</a></span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
{% endblock %}