{% extends "dataProcessor/template.html" %}

{% load static %}

{% block content %}
<body>
	<!-- <div class="container-fluid form-container"> -->
		<section class="panel">
			<div class="panel-body">
				<div class="container">
					<div id="task_scheduler"></div>
          <script src="{% static 'task_scheduler-bundle.js' %}"></script>
					<div class="row">
						{% for module in modules %}
							{% if module.priority > 2 %}
								<div class="col-lg-2 col-sm-6 mt-3">
									<div class="card carded-modules">
										<a href="{% url 'dataProcessor:get_template' module=module.module_name %}"></a>
										<span class="centerDiv"><i class="fa {{ module.icon }} fa-2x" style="color: #73c6b6;" aria-hidden="true"></i><br/>{{ module.description }}</span>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<hr>
					<div class="row mt-2">
						{% for module in modules %}
							{% if module.priority < 3 %}
						<div class="col-lg-2 col-sm-6 mt-3">
							<div class="card carded-modules">
								<a href="{% url 'dataProcessor:get_template' module=module.module_name %}"></a>
								<span class="centerDiv"><i class="fa {{ module.icon }} fa-2x" style="color: #73c6b6;" aria-hidden="true"></i><br/>{{ module.description }}</span>
							</div>
						</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	<!-- </div> -->
</body>
{% endblock %}