{% load static %}
{% include "dataProcessor/head.html" %}

<body>
	<!-- https://d12m8zkkfoc9oy.cloudfront.net -->
		<input type="hidden" id="baseUrl" value="https://d12m8zkkfoc9oy.cloudfront.net">
		<section class="body">

			{% include "analytics/dashboard/header.html" %}

			<div class="inner-wrapper">
				<!-- {% include "dataProcessor/sidebar.html" %} -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Home</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'dataProcessor:index' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Home</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<div id="content">
        				{% block content %}{% endblock %}
    				</div>
					<hr/>
				</section>
				{% include "analytics/dashboard/footer_nav.html" %}
			</div>

			{% include "dataProcessor/calendar.html" %}
		</section>
	</body>
{% include "dataProcessor/footer.html" %}