{% extends "dataProcessor/template.html" %}

{% load static %}

{% block content %}
	<div class="container form-container">
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-10">
				<input type="hidden" value="{{ module }}" id="form_type">
				<input type="hidden" value={{ request.user.username }} id="username">
				<div class="row my-4"><div class="col-12"><h5>Grease and Hydocarbon Spillage</h5></div></div>
				<div id="form"></div>
			</div>
			<div class="col-1">
			</div>
		</div>
	</div>
	<script src="{% static 'dataProcessor/index-bundle.js' %}"></script>
{% endblock %}