{% load static %}
<footer class="footerpt-lg-8 pb-9">
	<div class="container">
        <div class="row text-center">
          <div class="col-12">
            <!-- DO NOT DELETE THIS CREDIT. TO DELETE, PLEASE BUY PRO LICENSE -->
            <p class="font-size-4 letter-spacing-np64 line-height-reset mb-0"> &copy; GeoMining Consultancy 2021 All right reserved. </p>
          </div>
        </div>
      </div>
</footer>
<script src="{% static 'analytics/js/vendor.min.js' %}"></script>
  <!-- Plugin's Scripts -->
  <script src="{% static 'analytics/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'analytics/plugins/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'analytics/plugins/aos/aos.min.js' %}"></script>
  <script src="{% static 'analytics/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'analytics/./plugins/counter-up/jquery.waypoints.js' %}"></script>
  <script src="{% static 'analytics/./plugins/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'analytics/plugins/theme-mode-switcher/gr-theme-mode-switcher.js' %}"></script>
  <!-- Activation Script -->
  <script src="{% static 'analytics/js/custom.js' %}"></script>
</body>
</html>