{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GeoMining Consultancy</title>
  <link rel="shortcut icon" href="{% static 'analytics/image/png/favicon.png' %}" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="{% static 'analytics/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/fonts/icon-font/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/fonts/typography-font/typo.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/fonts/typography-font/lucida-grande/typo.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/fonts/fontawesome-5/css/all.css' %}">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="{% static 'analytics/plugins/aos/aos.min.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/plugins/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/plugins/nice-select/nice-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/plugins/slick/slick.min.css' %}">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="{% static 'analytics/plugins/theme-mode-switcher/switcher-panel.css' %}">
  <link rel="stylesheet" href="{% static 'analytics/css/main.css' %}">
  <!-- Custom stylesheet -->

</head>

<body data-theme="light">
  <div class="site-wrapper overflow-hidden">
    <!-- Header start  -->
    <!-- Header Area -->
    <header class="site-header site-header--menu-left sticky-bg-white light-mode-texts menu-link-hover-dodgerblue site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar offcanvas-active navbar-expand-lg px-0">
          <!-- Brand Logo-->
          <div class="brand-logo d-inline-block">
            <a href="{% url 'analytics:index' %}">
              <!-- light version logo (logo must be black)-->
              <!-- <img src="{% static 'analytics/images/png/logo-blue.png' %}" alt=""> -->
              GeoMining Consultancy
              <!-- Dark version logo (logo must be White)-->
            </a>
          </div>
          <div class="collapse navbar-collapse" id="mobile-menu">
            <div class="navbar-nav-wrapper">
              <ul class="navbar-nav main-menu">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="{% url 'analytics:dashboard' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <i class="icon icon-small-down"></i></a>
                  <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_staff == 1 %}
                    <li class="drop-menu-item">
                      <a href="{% url 'analytics:dashboard' %}">
                        Dashboard
                      </a>
                    </li>
                    <li class="drop-menu-item">
                      <a href="{% url 'analytics:reports' %}">
                        Reports
                      </a>
                    </li>
                    <li class="drop-menu-item">
                      <a href="{% url 'analytics:media' %}">
                        Media
                      </a>
                    </li>
                    {% else %}
                    <li class="drop-menu-item">
                      <a href="{% url 'dataProcessor:index' %}">
                        Input data
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" role="button" aria-expanded="false">Support</a>
                </li>
              </ul>
            </div>
            <button class="d-block d-lg-none offcanvas-btn-close" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
              <i class="gr-cross-icon"></i>
            </button>
          </div>
          {% if user.is_authenticated %}
            Welcome, {{ request.user.username }}
          {% else %}
          <div class="header-btns ml-auto pr-2 ml-lg-9 d-none d-xs-flex">
            <a class="btn btn-transparent btn-small border border-mineshaft font-size-5 letter-spacing-n1 font-weight-normal heading-default-color focus-reset mr-lg-6 mr-lg-0 mr-6" href="{% url 'analytics:login' %}">
              Login
            </a>
            <a class="btn btn-lg-1 btn-dodgerblue border border-dodgerblue font-size-5 letter-spacing-n1" href="{% url 'analytics:register_user' %}">
              Register
            </a>
          </div>
          {% endif %}
          <!-- Mobile Menu Hamburger-->
          <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <i class="icon icon-simple-remove icon-close"></i> -->
            <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
          </button>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>