{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Environmental</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Environmental">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'analytics/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'analytics/css/analytics.css' %}">
{% comment "Optional note" %}
<!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{{mix('/css/app.css')}}"> -->
<!-- <script src="https://unpkg.com/react@16.6.3/umd/react.production.min.js"></script> -->
<!-- <script src="https://unpkg.com/react-dom@16.6.3/umd/react-dom.production.min.js"></script> -->
{% endcomment %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="{% static 'analytics/js/jquery-3.2.1.js' %}"></script>
<script src="https://kit.fontawesome.com/967d61a618.js" crossorigin="anonymous"></script>
</head>