{% extends "analytics/dashboard/template.html" %}

{% load static %}

{% block main_content %}
	<div class="container-fluid">
		<section class="body-sign">
			<div class="center-sign">
				<a href="{% url 'analytics:index' %}" class="logo pull-left">
                <img src="{% static 'analytics/images/companyicon.jpeg' %}" height="35" alt="Geomining" />
                <br>
				GeoMining Consultancy Company Limited
              </a>

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Add User</h2>
					</div>
					<div class="panel-body">
						<form action="{% url 'analytics:add-user' %}" class="was-validated"  method="POST" name="form">
							{% csrf_token %}
							{% if error_message %}
                    	        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        	{% endif %}
  							{% block content %}
  									{% csrf_token %}
  									<table>
					  					{{ form.as_table }}
					  				</table>

					  				<div class="form-check form-check-inline">
  										<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="" name="admin_user_check">
  										<label class="form-check-label" for="inlineCheckbox1">Admin User</label>
									</div>
							{% endblock %}

							<div class="row">
								<div class="col-sm-8">
									<!-- <div class="checkbox-custom checkbox-default">
										<input id="AgreeTerms" name="agreeterms" type="checkbox"/>
										<label for="AgreeTerms">I agree with <a href="#">terms of use</a></label>
									</div> -->
								</div>
								<div class="col-sm-4 text-right">
									<button type="submit" class="btn btn-primary hidden-xs">Save</button>
									<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Save</button>
								</div>
							</div>

							<span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>o</span>
							</span>

							<!-- <div class="mb-xs text-center">
								<a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
								<a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
							</div> -->

						</form>
					</div>
				</div>

				<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2021. All rights reserved. GeoMining Consultancy.</p>
			</div>
		</section>

	</div>

	<script src="{% static 'graphbuilder-bundle.js' %}"></script>
{% endblock %}