{% load static %}
<div class="container-fluid">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<!-- <a href="#" class="fa fa-times"></a> -->
				</div>
		
				<h2 class="panel-title">Custom Tables</h2>
			</header>
			<div class="panel-body">
				<table class="table table-bordered table-striped mb-none" id="datatable-details">
					<thead>
						<tr>
							<th>Report Name</th>
							<th>Description</th>
							<th>Report Date</th>
						</tr>
					</thead>
					<tbody>
						{% for table in custom_tables %}
						<tr class="grade">
							<td><a class="row-link" href="{% url 'analytics:view_table' report_id=table.id module='custom' %}">{{ table.table_name }}</a></td>
							<td>{{ module.description }}</td>
							<td>{{ table.created_at }}</td>
						</tr>
						{% endfor %}
						<tr class="grade"><td colspan="2" style="border: none;"><a href="{% url 'analytics:view_all_reports' module='custom' %}" class="btn btn-outline-danger">View all</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>