{% load static %}
	<div class="container-fluid">
<!-- 		<section class="panel">
			<div class="panel-body">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add_report"><i class="fa fa-plus fa-2x mt-3"></i> <h5>Add Report</h5> </button>
						</div>
					</div>
				</div>
			</div>
		</section> -->

		<section class="panel">
			<div class="panel-body">
				<div class="container">
					{% for val in data %}
					<div class="row">
						<div class="col-12">
							<a href="{% url 'analytics:view_report' report_id=val.id %}">{{ val.report_name }}</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>