{% extends "analytics/dashboard/template.html" %}

{% load static %}

{% block main_content %}
	<div class="container-fluid">
		<section class="panel">
			<div class="panel-body">
				<a class="go-back-link" href="{% url 'analytics:reports' %}"><i class="fa fa-long-arrow-left fa-lg"></i> Go back</a> 
			</div>
		</section>

		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<!-- <a href="#" class="fa fa-times"></a> -->
				</div>
		
				<h2 class="panel-title">Report</h2>
			</header>
			<div class="panel-body">
				{% for module_i in modules %}
					{% if module == module_i.id %}
						{% include module_i.default_report_path %}
					{% endif %}
				{% endfor %}
			</div>
		</section>

	</div>

	<script src="{% static 'index-bundle.js' %}"></script>
{% endblock %}