{% load static %}
{% include "analytics/landingpage/head.html" %}

<div class="login">
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="card login-card">
  				<div class="card-body">
  					{% block content %}
  					<form action="{% url 'analytics:login' %}" class="was-validated"  method="POST" name="form">
  						{% csrf_token %}
  						<table>
					  {{ form.as_p }}
					  	</table>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form> 
					{% endblock %}
  				</div>
			</div>
		</div> 
</div>


{% include "analytics/landingpage/footer.html" %}